<div>
<div class="row">
  
  <div class="col-md-4">
    <input type="text" [ngStyle]="{'border': '1px solid red'}">
  </div>

  <div class="col-md-8">
    <input type="text" [ngClass]="{'border': xyz}">
    <input type="button" (click)="otherFun()">
  </div>
  <div class="row">
<div class="col-md-12">
<input type="text" [sizer]="'400px'">
<input type="text" value="new" sizer>
</div>
<div class="row">
  <div class="col-md-3">
    <ul>
      <li *ngFor="let mob of mobiles">{{mob}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1 *ngIf="shouldShow">Structural Directive</h1><hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" *ngIf="shouldShow"> 
    <input type="button" (click)="shouldShow = !shouldShow"/>
  </div>
</div>
</div>
<div class="row">
<div class="col-md-12">
  <h1 *ngIf="Show">Structural Directives</h1>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" *ngIf="Show">
    <input type="button" (click)="Show = !Show"/>
  </div>
</div>

</div>