
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <div class="container">
      <div class="row">
  <div class="col-md-3">
    <app-car (imgEv)="imgVal=$event"></app-car>
</div>
<div class="col-md-9" style="border:2px solid black">
  
  <app-engine [imgNm]="imgVal"></app-engine><br>
</div>
<div class="row">
  <div class="col-md-12">
<app-directives></app-directives>
</div>
</div>
  </div>
  </div>
</div> -->
<!-- <app-table></app-table> -->
<app-rating></app-rating>